<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SmartPacking - Strona główna</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="container mt-4">
<h1>Witaj w SmartPacking!</h1>
<div class="mt-3">
    <a href="/packing/startPacking" class="btn btn-success">Rozpocznij pakowanie</a>
    <a href="/products/findProduct" class="btn btn-info ml-2">Znajdź produkt na magazynie</a>
</div>
</body>
</html>
