<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Znajdź produkt na magazynie</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="container mt-4">
<h2>Wyszukiwanie produktu</h2>
<form th:action="@{/products/search}" method="get" class="form-group">
    <div class="form-group">
        <label for="productId">ID produktu:</label>
        <input type="text" id="productId" name="productId" class="form-control">
    </div>
    <div class="form-group">
        <label for="productName">Nazwa produktu:</label>
        <input type="text" id="productName" name="productName" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Szukaj</button>
</form>
<a href="/" class="btn btn-secondary">Powrót do strony głównej</a>
</body>
</html>
