<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rozpocznij pakowanie</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="container mt-4">
<h2>Wybierz tryb pakowania</h2>
<div class="mt-3">
    <a th:href="@{/packing/standard}" class="btn btn-success">Standard</a>
    <button class="btn btn-secondary disabled">Express *SOON*</button>
</div>
<a href="/" class="btn btn-primary mt-3">Powrót do strony głównej</a>
</body>
</html>
